/* Define estilos para el modo claro */
.swal-light {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
  
  /* Define estilos para el modo oscuro */
  .swal-dark {
    background-color: #2e2e2e !important;
    color: #ffffff !important;
  }
  
  /* Estilos adicionales para botones y otros elementos */
  .swal-dark .swal2-title,
  .swal-dark .swal2-content {
    color: #ffffff !important;
  }
  
  .swal-dark .swal2-actions .swal2-confirm,
  .swal-dark .swal2-actions .swal2-cancel {
    background-color: #444444 !important;
    color: #ffffff !important;
  }
  
  .swal-light .swal2-title,
  .swal-light .swal2-content {
    color: #000000 !important;
  }
  
  .swal-light .swal2-actions .swal2-confirm,
  .swal-light .swal2-actions .swal2-cancel {
    background-color: #f0f0f0 !important;
    color: #000000 !important;
  }